

/* COMMON SETTINGS */

body {
  background-color: black;
  color: #ffffff;
}

a { 
  text-decoration: none; 
  color: #f8f8f8;
}

a:hover { 
  background-color: #f8f8f8;
  color: #3d3d3d;
}

#container { 
  width: 378px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: auto;
  margin-right: auto;
}


/* MENU */

#menu {
  background-color: #3d3d3d;
  width: 378px;
  padding: 6px 0 6px 0;
}

#menu a {
  padding: 4px;
}

#menu span {
  padding-left: 4px;
}


/* HEADER */

#header {
  width: 378px;
  color: white;
  line-height: 24px;
}

#header div.titles {
  padding: 16px;
}

#header div.title {
  font-size: 24pt;
}

#header div.subtitle {
  font-size: 11pt;
}

#header div.logo {
  float: right;
  position: relative;
  top: -72px;
  right: 10px;
}

/* MAIN */

#main {
  background-color: #3d3d3d;
  width: 378px;
}

#main a { 
  text-decoration: underline; 
}

#main div.content {
  text-align: left;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

#main div.entry {
  padding-bottom: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#main div.entry div.title {
  font-size: large;
  background-color: #4f4f4f;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
}

#main div.entry div.title a { 
  text-decoration: none; 
}

#main div.entry div.date {
  font-size: 8pt;
  font-family: Verdana, sans-serif;
  text-align: right;
  padding-bottom: 8px;
}

#main div.entry div.leadin {
  padding-bottom: 12px;
  font-size: 10pt;
}

#main div.entry div.paragraph {
  padding-bottom: 12px;
  font-size: 10pt;
}

#main div.pagelink {
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 32px;
}


/* PAGES */

#page {
  font-size: 10pt;
}

#page p.pagetitle {
  font-size: 12pt;
  font-weight: bold;
}


/* FOOTER */

#footer {
  background-image: url('footer.jpg');
  background-repeat: no-repeat;
  height: 166px;
  width: 378px;
}

